<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- logo web -->
    <link rel="shortcut icon" href="../static/hijacker new.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- MY CSS -->
    <link rel="stylesheet" href="../static/style.css" />

    <title>Hijacker</title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <!-- Jumbotron -->
    <section id="galerry">
      <div class="container">
        <div class="row text-center mb-3">
          <div class="col">
            <h2
              style="font-family: Algerian; color: rgb(255, 255, 255)"
              data-aos="fade-down"
              data-aos-duration="1800"
            >
              <br />Galerry
            </h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
              <div class="amp-box" data-aos="fade-down" data-aos-duration="1800">
                <h3 class="amp1" style="font-family: Algerian; color: #fff">contoh1</h3>
                <img src="/static/jcm900.png" alt="marshall" class="jcm900-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="galeri">
      <div class="container">
        <div class="row text-center mb-3">
          <div class="col">
            <h2
              style="font-family: Algerian; color: rgb(255, 255, 255)"
              data-aos="fade-down"
              data-aos-duration="1800"
            >
              <br />Galerry
            </h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
              <div class="cmb-box" data-aos="fade-down" data-aos-duration="1800">
                <h3 class="marsahlcmb2" style="font-family: Algerian; color: #fff">contoh2</h3>
                <img src="/static/marshallcmb.jpg" alt="marshall" class="marshallcmb-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Jumbotron -->
    <!-- Icon -->

    <!-- Akhir Icon -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript" src="vanilla-tilt.js"></script>
    <script type="text/javascript" src="/static/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
      VanillaTilt.init(document.querySelector(".amp-box"), {
        max: 25,
        speed: 400,
      });
    </script>
  </body>
</html>
